@import 'variables';
@import 'reset';
@import 'titres';
@import 'header', 'footer';
@import 'mixins';
@import 'btn';

h1 {
    font-family: Shrikhand;
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
}

h2 {
    //border-bottom: 2px solid $couleur-tertiaire;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 30px;
    position: relative;
    text-align: left;

    &::before {
        content: "";
        display: inline-block;
        width: 10%;
        height: 2px;
        //background-color: $backgroud-gris-clair;
        background-color: $couleur-tertiaire;
        position: absolute;
        //right: 0px;
        top: 22px;
    }

}

h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

header {

    //display: flex;
    position: relative;

    a {
        display: inline-block;
        position: absolute;
        top: 13px;
        left: 10px;
        color: $couleur-primaire;
        //width: 50px;
        //height: 50px;
        //border-radius: 25px;

        :hover {
            font-size: 18px;
        }
    }
}

main {
    background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-position: top;
    background-size: 120% 320px;
    background-repeat: no-repeat;
    padding-top: 280px;
}

.contenu-principal {
    background-color: $backgroud-gris-clair;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 30px;
    margin: auto;

}


.carte-plat {
    width: 80%;
    height: 90px;
    border-radius: 20px;
    margin: auto;
    padding: 5px 20px 20px 20px;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    cursor: pointer;
    @include ombre-boite;
    display: flex;

    @for $i from 1 through 3 {
        &-#{$i} {
            animation: apparition ease-in-out 1s both;
            animation-delay: calc(#{$i}ms*100);

        }
    }


    &__details {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        p {
            height: 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &-gauche {
        width: 100%;
        transition: width 1s ease-in-out;
    }

    &-droite {
        width: 20%;
        height: 100%;
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: $couleur-tertiaire;
        color: #fff;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-top: 30px;
        text-align: center;
        opacity: 0;
        //transition: opacity 1s ease-in-out;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 1s ease-in-out;

        i {
            display: inline-block;
            font-size: 30px;
            transition: transform 1s ease-in-out;
        }

    }

    &:hover .carte-plat-gauche {
        width: 80%;
    }

    &:hover .carte-plat-droite {
        opacity: 1;
        transform: scaleX(1);

        &>i {
            transform: rotate(360deg);
        }
    }
}

/*.desserts {
    padding-bottom: 20px;

    .carte-plat:last-child {
        margin-bottom: 0px;
    }
}*/

.btn {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

@keyframes apparition {
    0% {
        opacity: 0.2;
        transform: translateY(-2px);
    }

    50% {
        opacity: 0.5;
        transform: translateY(-5px);
    }

    100% {
        opacity: 1;
        transform: translateY(-7px);
    }
}