@import 'variables';
@import 'reset';
@import 'titres';
@import 'header', 'footer';
@import 'mixins';
@import 'btn';

body {
    min-width: 320px;
    max-width: 1400px;
    margin: auto;
}

form {
    position: relative;

    input {
        background-color: #eaeaea;
        width: 100%;
        height: 50px;
        text-align: center;
        border-style: none;
        box-shadow: inset 0px 2px 2px #cecece;

        &:focus {
            border-style: none;
        }
    }

    i {
        position: absolute;
        top: 13px;
        left: 30%;
        color: #353535;
    }
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15px;
}

.presentation {
    text-align: center;
    background-color: #f7f7f7;


}

.fonctionnement {
    &__etape {
        width: 90%;
        height: 90px;
        position: relative;
        border-radius: 20px;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 20px;
        background-color: #f7f7f7;
        @include ombre-boite;

        &:hover {
            background-color: #f5edff;

            i {
                color: $couleur-primaire;
            }
        }

        &::before {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            color: #fff;
            text-align: center;
            position: absolute;
            top: 35px;
            left: -10px;
            background-color: $couleur-primaire;
        }

        @for $i from 1 through 3 {
            &-#{$i}::before {
                content: ""+#{$i}+"";

            }
        }
    }
}


.restaurants {
    background-color: #eaeaea;

    &__carte {
        background-color: #fff;
        width: 90%;
        margin: auto;
        border-radius: 20px;
        @include ombre-boite;
        padding-bottom: 10px;
        margin-bottom: 20px;
        cursor: pointer;
        position: relative;

        &-nouveau {
            &::before {
                content: "Nouveau";
                display: inline-block;
                height: 25px;
                width: 80px;
                position: absolute;
                top: 15px;
                right: 15px;
                border-radius: 2px;
                color: #008766;
                padding-top: 8px;
                text-align: center;
                background-color: $couleur-tertiaire;
            }
        }

        img {
            width: 100%;
            height: 180px;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        &-titre {
            display: flex;
            justify-content: space-between;
            margin-left: 10px;
            margin-right: 10px;
        }

        .heart-container {
            position: relative;
            width: 40px;
            height: 40px;
        }

        .heart-clip {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            clip-path: url(#svgPath);

            &:hover {
                &::before {
                    transform: scale(1);
                }
            }

            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-image: linear-gradient(175deg, rgb(2, 0, 36) 0%, rgb(255, 121, 208) 0%, rgb(147, 86, 220) 100%);
                opacity: 1;
                transform: scale(0);
                transition: transform 0.3s linear;
                transform-origin: center 60%;
            }
        }

        .heart-stroke {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            fill: gray;
        }

        p {
            margin-left: 10px;
        }
    }
}

/******************************
 *        Reponsive           *
 ******************************/
@media screen and (min-width:768px) {
    .fonctionnement__etapes {
        display: flex;

        .fonctionnement__etape {
            width: 30%;
        }
    }

    .restaurants__cartes {
        display: flex;

        .restaurants__carte {
            width: 23%;
        }
    }




}